# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Local data
data/raw/*
data/pages/*
data/parsed/*
data/exports/*

# Keep empty folders
!data/raw/.gitkeep
!data/pages/.gitkeep
!data/parsed/.gitkeep
!data/exports/.gitkeep

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Angular frontend
ClaimGurdUI/node_modules/
ClaimGurdUI/.angular/
ClaimGurdUI/dist/

# Optional
.vscode/
.idea/